name: Test Doxygen installation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-installation:
    name: Testing the Doxygen installation
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
          - macos-15-intel

    steps:
      - uses: actions/checkout@v6

      - uses: ./

      - name: Check doxygen existence
        shell: bash
        run: |
          which doxygen

      - name: Check cleanup
        shell: bash
        run: |
          ! ls doxygen* 1> /dev/null 2>&1
          ! ls Doxygen* 1> /dev/null 2>&1
